body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #37474F;
  color: #CFD8DC;
}

.big-space{
  line-height: 2.5;
}

/*==========Animating Submit Button==========*/

button {
  position: relative;
  background-color: #66BB6A;
  border: none;
  font-size: 16px;
  color: #ECEFF1;
  padding: 20px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

button:focus {
  outline: 0;
}


/*==========Output Font Colors==========*/

#output-days, #output-weeks, #output-months, #output-units, h1 {
  color: #CFD8DC;
}


/*==========Input Box Styling==========*/

input, select {
  border: none;
  border-bottom: 2px solid #90EE90;
  border-radius: 3px;
  padding-left: 5px;
  background-color: #37474F;
  color: #78909C;
  outline: none;
}

::-webkit-input-placeholder {
  color: #78909C;
}

::-moz-placeholder {
  color: #78909C;
}

::-ms-placeholder {
  color: #78909C;
}

::placeholder {
  color: #78909C;
}

/*==========Footer Links==========*/
a{
  text-decoration: none;
  color: #B0BEC5;
}
a:hover{
  color: #66BB6A;
}

/*==========Sticky Footer==========*/

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  color: #B0BEC5;
  /*Material Grey 400 series color*/
}
